body {
	font-family: "Droid Sans", "Arial", sans-serif;
	font-size: 100.01%;
	color: rgba(255, 255, 255, 0.9);
	padding: 0 4%;
	background-image: url("../img/black_linen.png");
	background-position: 0 0;
	background-repeat: repeat;
}

p, li {
	font-size: 1em;
}

header {
	margin-top: 1em;
	margin-bottom: 2em;
	text-shadow: 0 0 0.0625em rgba(178, 224, 46, 0.2);
}

h1 {
	font-family: "Comfortaa", "Arial", sans-serif;	
	font-size: 4em;
	font-weight: 300;
	margin: 0 auto;
	display: block;
	width: 3.45em;
	position: relative;
	padding-left: 0.8em;
}

header h1::before {
	content: " ";
	width: 0.8em;
	height: 0.8em;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.28em;
	background-color: rgba(178, 224, 46, 0.8);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0.0225em 0 #383838;	
	-moz-box-shadow: 0 0 0.0225em 0 #383838;	
	box-shadow: 0 0 0.0225em 0 #383838;	
}

header h1::after {
	content: "e";
	text-shadow: 0 0 0.0625em #383838;
	width: 1em;
	height: 1em;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.58em;
	margin-left: -0.04em;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

h1 span {
	display: none;
}

header p {
	font-family: "Lobster Two", "Verdana", cursive;
	font-style: italic;
	font-size: 1.4em;
	margin-top: 1em;
	text-align: center;	
}

nav li {
	background: rgb(198,221,126); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(198,221,126,1) 0%, rgba(178,224,46,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,221,126,1)), color-stop(100%,rgba(178,224,46,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dd7e', endColorstr='#b2e02e',GradientType=0 ); /* IE6-9 */
	text-shadow: 0 0 0.1em rgba(0, 0, 0, 1);
	filter: dropshadow(color=#000000, offx=1, offy=1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0.1em 0 rgba(178, 224, 46, 0.8);
	-moz-box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0.1em 0 rgba(178, 224, 46, 0.8);
	box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0.1em 0 rgba(178, 224, 46, 0.8);	
	text-transform: uppercase;
	letter-spacing: 0.15em;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0.5em 0;
}

nav li {
	margin: 1em 0;
	padding: 0.25em 0;
}

nav li a {
	display: block;
	padding: 0.25em 0.5em;
}

nav li a:link,
nav li a:visited {
	border-bottom: none;
}

nav li a:hover,
nav li a:active,
nav li a:focus {
	border-bottom: none;	
}

footer {
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 0.8em;
	text-align: center;
}

footer p {
	margin: 1em 0;
}

a:link,
a:visited {
	color: rgba(255, 255, 255, 0.9);
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.9);
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	border-bottom: 0.1em solid transparent;
}


/** Responsiveness **/
@media screen and (min-width: 600px) {
	
	body {
		background-image: url("../img/broken_noise.png");
		max-width: 800px;
		margin: 0 auto;
	}

	header {
		margin-bottom: 4em;
	}

	nav {
		width: 42%;
	}
	
	nav li {
		text-transform: none;
		font-variant: small-caps;
		text-align: left;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border-bottom: 0.0625em solid rgba(142, 158, 90, 0.4);
		border-top: 0.0625em solid rgba(142, 158, 90, 0.8);
		-webkit-box-shadow: none, 0 0 0.0625em 0 rgba(178, 224, 46, 0.8), 0 0.2em 0 0 rgba(142, 158, 90, 0.9);
		-moz-box-shadow: none, 0 0 0.0625em 0 rgba(178, 224, 46, 0.8), 0 0.2em 0 0 rgba(142, 158, 90, 0.9);
		box-shadow: none, 0 0 0.0625em 0 rgba(178, 224, 46, 0.8), 0 0.2em 0 0 rgba(142, 158, 90, 0.9);
		letter-spacing: normal;

		background: rgb(198,221,126); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(198,221,126,1) 0%, rgba(178,224,46,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,221,126,1)), color-stop(100%,rgba(178,224,46,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(198,221,126,1) 0%,rgba(178,224,46,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dd7e', endColorstr='#b2e02e',GradientType=0 ); /* IE6-9 */		
		position: relative;
	}

	.js nav li.nav-active {
		-webkit-box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0 0.2em rgba(255, 48, 25, 0.6);
		-moz-box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0 0.2em rgba(255, 48, 25, 0.6);
		box-shadow: inset 0 0 6em 0 rgba(0, 0, 0, 0.1), 0 0 0 0.2em rgba(255, 48, 25, 0.6);	
	}

	nav li::before {
		content: "o";
		font-family: "Righteous", "Arial", sans-serif;
		color: rgba(255, 255, 255, 0.3);
		text-shadow: none;
		position: absolute;
		top: 0.5em;
		left: 2.5%;
		-webkit-transition: color 200ms ease-in-out;
		-moz-transition: color 200ms ease-in-out;
		-o-transition: color 200ms ease-in-out;
		transition: color 200ms ease-in-out;		
	}	

	nav li::after {
		content: "»";
		font-family: "Righteous", "Arial", sans-serif;
		color: rgba(255, 255, 255, 0.3);
		text-shadow: none;
		position: absolute;
		top: 0.5em;
		right: 2.5%;
		-webkit-transition: color 200ms ease-in-out;
		-moz-transition: color 200ms ease-in-out;
		-o-transition: color 200ms ease-in-out;
		transition: color 200ms ease-in-out;		
	}

	nav li:hover::before,
	nav li:hover::after,
	.js li.nav-active::before,
	.js li.nav-active::after {
		color: rgba(255, 255, 255, 0.9);
	}	

	nav li a {
		width: 75%;
		margin: 0 auto;
		border-right: 0.1em solid rgba(255, 255, 255, 0.3);		
		-webkit-transition: border-color 200ms ease-in-out;
		-moz-transition: border-color 200ms ease-in-out;
		-o-transition: border-color 200ms ease-in-out;
		transition: border-color 200ms ease-in-out;		
	}

	nav li:hover a,
	.js li.nav-active a {
		border-right: 0.1em solid rgba(255, 255, 255, 0.9);		
	}

	nav li a:link,
	nav li a:visited {
		color: rgba(56, 56, 56, 0.7);
		text-shadow: none;
		-webkit-transition: color 200ms ease-in-out;
		-moz-transition: color 200ms ease-in-out;
		-o-transition: color 200ms ease-in-out;
		transition: color 200ms ease-in-out;			
	}

	nav li a:hover,
	nav li a:active,
	nav li a:focus,
	.js li.nav-active a {
		color: rgba(56, 56, 56, 1);
		outline: none;
	}

	section {
		width: 54%;
		display: inline-block;
		text-align: right;
		margin-left: 4%;
		vertical-align: top;
		margin-top: 1em;
	}

	.js p.extraTip {
		font-family: "Lobster Two", "Arial", sans-serif;
		color: rgba(80, 80, 80, 0.4);
		text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
		margin: 0.3em 0;
		padding: 0;
		font-size: 4em;
		width: 80%;
		display: inline-block;
		-moz-transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		transform: rotate(-10deg);
		position: relative;
	}

	.js p.extraTip::before {
		content: "{";
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -0.35em;
		margin-top: -0.35em;
		font-size: 3em;
		-moz-transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);		
	}

	article h1 {
		font-size: 1.4em;
		font-family: "Droid Sans", "Arial", sans-serif;
		font-weight: 700;
		text-align: center;
		position: static;
		width: auto;
		margin-bottom: 1em;
	}

	article p {
		line-height: 1.2;
		text-align: left;
		margin: 1em 0;
	}

	.js article {
		position: relative;
		height: 14.5em;
	}

	.js p.button {
		position: absolute;
		width: 11em;
		bottom: 1.25em;
		left: 50%;
		margin: 0;
		margin-left: -5.5em;
		text-align: center;
		-webkit-user-select: none;		
		box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	}

	.js a.go {
		display: inline-block;
		height: 3em;
		line-height: 3em;
		width: 100%;
		background: rgb(255,48,25);
		background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1)));
		background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
		background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
		background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
		background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-transform: uppercase;

		-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
		-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);		
	}

	.js a.go:link,
	.js a.go:link {
		border-bottom: none;
		text-decoration: none;
	}

	.js a.go:active { 
		position: relative; 
		top: 3px;
	    -webkit-box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.8), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	    -moz-box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.8), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.8), inset 0 0px 3px rgba(0, 0, 0, 0.9);
	}

	.js a.go:active:after { 
		content: " "; 
		width: 100%; 
		height: 3px; 
		background-color: transparent; 
		position: absolute; 
		bottom: -1px; 
		left: 0; 
	}

	.js a.go:active,
	.js a.go:focus {
		outline: none;
	}

	nav {
			display: inline-block;
	}

	footer {
		margin-top: 4em;
	}

	.js .lobster {
		font-family: "Lobster Two";
		font-size: 1.2em;
	}

}